:root{
    --primario: #9C27B0;
    --primarioOscuro: #891190;
    --secundario: #FFC107;
    --secundarioOscuro: rgb(233, 287, 2);
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
/* Globales */


body {
    background-color: var(--primario);
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: var(--blanco);

}

a{
    text-decoration: overline;
}

img{
    max-width: 100%;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
    margin: 0;
    line-height: 1.5;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/* header */
.header {
    display: flex;
    justify-content: center;
    width: 100%;
}
.header__logo{
    width: 300px;
    margin: 3rem 0;
}

/* navegacion principal */
.navegacion {
    text-align: center;
    background-color: var(--primarioOscuro);
    padding: 1rem;
}
.navegacion ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navegacion__enlace{
    color: var(--blanco);
    font-size: 1.8rem;
    font-family: --fuentePrincipal;
    text-decoration: none;
}
.navegacion__enlace:last-of-type{ /* ultimo elemento hijo */
    margin-right: 0;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

/* grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* productos */
.producto{
    background-color: var(--primarioOscuro);
}
.producto a{
    text-decoration: none;
}
.producto__imagen{
    width: 250px;
    text-align: center;
    margin: 0 auto;
}
.producto__imagen img{
    padding: 10px;
}
.producto__nombre{
    color: var(--secundario);
}
.producto__precio{
    font-size: 2.8rem;
    font-size: 4rem;
    color: var(--blanco);
}
.producto__nombre, .producto__precio{
    text-align: center;
    font-family: var(--fuentePrincipal);
    text-decoration: none;
}

/* grafico */
.grafico{
    min-height: 30rem;

}
.grafico--camisa{
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url(../img/grafico1.jpg);
    background-size: cover;
}
.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-column: 1/2;
    grid-row: 8/9;
    background-size: cover;
}
@media (min-width: 450px){
    .grafico--camisa{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .grafico--node{
        grid-row: 5/6;
        grid-column: 1/3;
    }
}
@media (min-width: 768px){
    .grafico--node{
        grid-row: 5/6;
        grid-column: 2/4;
    }   
}

/* footer */
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__text{
    text-align: center;
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 1.8rem;

}


/* about.html styles */
/* nosotros */
.nosotro{
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 2rem;
}
.nosotro__imagen{
    grid-row: 1/2;
}
@media (min-width: 768px){
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .nosotro__imagen{
        grid-row: 2/3;
    }

}